<%- include('../navbar/navbar') %>

<div class="container">
  <div class="card mt-3 mb-3">
    <div class="card shadow-mb4">
      <div class="card-header bg-warning text-light"><h4>Karyawan</h4></div>
      <div class="card-body">
        <form action="/karyawan/update/<%= karyawan.id %>" method="post">
          <div class="row mb-3">
            <div class="col-md-8">
              <input type="hidden" name="id_karyawan" id="id_karyawan" class="form-control" value="<%= karyawan.id %>" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">Nama Karyawan</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="nama_karyawan" id="nama_karyawan" class="form-control" value="<%= karyawan.nama_karyawan %>" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">Tanggal Lahir</label>
            </div>
            <div class="col-md-8">
              <input type="date " name="tgl_lahir" id="tgl_lahir" class="form-control" value="<%= karyawan.tgl_lahir %>" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3 mb-3">
              <label for="">Jenis Kelamin</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="jenis_kelamin" id="jenis_kelamin" class="form-control" value="<%= karyawan.jenis_kelamin %>" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3 mb-3">
              <label for="">Alamat</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="alamat" id="alamat" class="form-control" value="<%= karyawan.alamat %>" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3 mb-3">
              <label for="">Kontak</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="noTlp" id="noTlp" class="form-control" value="<%= karyawan.noTlp %>" />
            </div>
          </div>

          <input type="submit" name="submit" id="btn-add" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>
