<%- include('../navbar/navbar') %>

<div class="container">
  <div class="card mt-3 mb-3">
    <div class="card shadow-mb4">
      <div class="card-header bg-warning text-light"><h4>Karyawan</h4></div>
      <div class="card-body">
        <form action="/investor/update/<%= investor.id %>" method="post">
          <div class="row mb-3">
            <div class="col-md-8">
              <input
                type="hidden"
                name="id"
                id="id"
                class="form-control"
                value="<%= investor.id %>"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">Nama Investor</label>
            </div>
            <div class="col-md-8">
              <input
                type="text"
                name="nama"
                id="nama"
                class="form-control"
                value="<%= investor.nama %>"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">Jumlah Investasi</label>
            </div>
            <div class="col-md-8">
              <input
                type="text "
                name="jumlah"
                id="jumlah"
                class="form-control"
                value="<%= investor.jumlah %>"
              />
            </div>
          </div>
          <input
            type="submit"
            name="submit"
            id="btn-add"
            class="btn btn-primary"
          />
        </form>
      </div>
    </div>
  </div>
</div>
