<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <title>Data Produk</title>
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">Dashboard</a>
        <!-- Toggler/collapsibe Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/produk">Produk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/transaksi">Transaksi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/karyawan">Karyawan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/investor">Investor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">User</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mb-5">
      <div class="card mt-3 mb-3">
        <div class="card shadow-mb4">
          <div class="card-header bg-warning text-light"><h4>Produk</h4></div>
          <div class="card-body">
            <form action="/produk/insert" method="post" id="form-produk">
              <div class="row mb-3">
                <!-- <div class="col-md-3">
                  <label for="">ID produk</label>
                </div> -->
                <div class="col-md-8">
                  <input type="hidden" name="id_produk" id="id_produk" class="form-control" readonly />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-3">
                  <label for="">Nama produk</label>
                </div>
                <div class="col-md-8">
                  <input type="text" name="namaproduk" id="namaproduk" class="form-control" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-3">
                  <label for="">Stok </label>
                </div>
                <div class="col-md-8">
                  <input type="number " name="stock" id="stock" class="form-control" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-3 mb-3">
                  <label for="">Harga Satuan</label>
                </div>
                <div class="col-md-8">
                  <input type="text" name="hargasatuan" id="hargasatuan" class="form-control" />
                </div>
              </div>
              <input type="submit" name="submit" id="btn-add" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <table class="table table-striped table-hover">
        <thead class="text-center">
          <th>No</th>
          <th>Nama Produk</th>
          <th>Stok</th>
          <th>Harga Satuan</th>
          <th>N/A</th>
        </thead>
        <tbody class="text-center">
          <% myProduk.forEach((produk,index)  => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= produk.namaproduk %></td>
            <td><%= produk.stock %></td>
            <td><%= produk.hargasatuan %></td>
            <td>
              <a href="/produk/edit/<%= produk.id_produk %>" class="btn btn-primary btn-sm">Edit</a>
              <form action="/produk/delete/<%= produk.id_produk %>" method="post" style="display: inline">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <!-- Bootstrap JS -->
  </body>
</html>
